<div class="row">
    <div class="col-xs-12">
        <form class="form-horizontal" action="#" role="form" id="form-produtos">
            <input type="hidden" id="idProduto" value="@ViewBag.id" />
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="Title"> Titulo </label>
                <div class="col-sm-9">
                    <input type="text" id="Title" class="col-xs-12 col-sm-5" required maxlength="100">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="Description"> Descrição </label>
                <div class="col-sm-9">
                    <textarea type="text" id="Description" class="col-xs-12 col-sm-5" maxlength="255"></textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="Style"> Estilo </label>
                <div class="col-sm-9">
                    <input type="text" id="Style" class="col-xs-12 col-sm-5" required maxlength="4">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="Size"> Tamanho </label>
                <div class="col-sm-9">
                    <input type="text" id="Size" class="col-xs-12 col-sm-5" required maxlength="4">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="Measure"> Medida </label>
                <div class="col-sm-9">
                    <input type="text" id="Measure" class="col-xs-12 col-sm-5" required maxlength="4">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="Color"> Cor </label>
                <div class="col-sm-9">
                    <input type="text" id="Color" class="col-xs-12 col-sm-5" required maxlength="4">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="Model"> Modelo </label>
                <div class="col-sm-9">
                    <input type="text" id="Model" class="col-xs-12 col-sm-5" required maxlength="4">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="Brand"> Marca </label>
                <div class="col-sm-9">
                    <select id="Brand" class="col-xs-5"></select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="Supplier"> Fornecedor </label>
                <div class="col-sm-9">
                    <select id="Supplier" class="col-xs-5"></select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="Category"> Categoria </label>
                <div class="col-sm-9">
                    <select id="Category" class="col-xs-5"></select>
                </div>
            </div>

            <div class="space-6"></div>

            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="Title"> Fotos </label>
                <div class="col-sm-6">
                    <div class="left">
                        <button type="button" class="btn btn-sm btn-primary btn-white btn-round" onclick="abrirModalUpload()">
                            <span class="bigger-140">Realizar Upload</span>
                            <i class="icon-on-right ace-icon fa fa-cloud-upload bigger-170"></i>
                        </button>
                    </div>
                </div>
            </div>

            <div class="space-6"></div>

            <h4 class="header blue bolder smaller">Galeria</h4>
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1">
                    <div class="page-content">
                        <div class="row">
                            <div class="col-xs-12">
                                <ul class="ace-thumbnails clearfix">
                                    <li>
                                        <a href="http://responsiweb.com/themes/preview/ace/1.3.3/dist/images/gallery/image-2.jpg" data-rel="colorbox" class="cboxElement">
                                            <img width="122" class="img-thumbnail" height="122" alt="100x100" src="http://responsiweb.com/themes/preview/ace/1.3.3/dist/images/gallery/image-2.jpg">
                                        </a>

                                        <div class="tools tools-top">
                                            <a href="#">
                                                <i class="ace-icon fa fa-times red"></i>
                                            </a>
                                        </div>
                                    </li>
                                    <li>
                                        <a href="http://responsiweb.com/themes/preview/ace/1.3.3/dist/images/gallery/image-2.jpg" data-rel="colorbox" class="cboxElement">
                                            <img width="122" class="img-thumbnail" height="122" alt="100x100" src="http://responsiweb.com/themes/preview/ace/1.3.3/dist/images/gallery/image-2.jpg">
                                        </a>

                                        <div class="tools tools-top">
                                            <a href="#">
                                                <i class="ace-icon fa fa-times red"></i>
                                            </a>
                                        </div>
                                    </li>
                                    <li>
                                        <a href="http://responsiweb.com/themes/preview/ace/1.3.3/dist/images/gallery/image-2.jpg" data-rel="colorbox" class="cboxElement">
                                            <img width="122" class="img-thumbnail" height="122" alt="100x100" src="http://responsiweb.com/themes/preview/ace/1.3.3/dist/images/gallery/image-2.jpg">
                                        </a>

                                        <div class="tools tools-top">
                                            <a href="#">
                                                <i class="ace-icon fa fa-times red"></i>
                                            </a>
                                        </div>
                                    </li>
                                    <li>
                                        <a href="http://responsiweb.com/themes/preview/ace/1.3.3/dist/images/gallery/image-2.jpg" data-rel="colorbox" class="cboxElement">
                                            <img width="122" class="img-thumbnail" height="122" alt="100x100" src="http://responsiweb.com/themes/preview/ace/1.3.3/dist/images/gallery/image-2.jpg">
                                        </a>

                                        <div class="tools tools-top">
                                            <a href="#">
                                                <i class="ace-icon fa fa-times red"></i>
                                            </a>
                                        </div>
                                    </li>
                                    <li>
                                        <a href="http://responsiweb.com/themes/preview/ace/1.3.3/dist/images/gallery/image-2.jpg" data-rel="colorbox" class="cboxElement">
                                            <img width="122" class="img-thumbnail" height="122" alt="100x100" src="http://responsiweb.com/themes/preview/ace/1.3.3/dist/images/gallery/image-2.jpg">
                                        </a>

                                        <div class="tools tools-top">
                                            <a href="#">
                                                <i class="ace-icon fa fa-times red"></i>
                                            </a>
                                        </div>
                                    </li>
                                    <li>
                                        <a href="http://responsiweb.com/themes/preview/ace/1.3.3/dist/images/gallery/image-2.jpg" data-rel="colorbox" class="cboxElement">
                                            <img width="122" class="img-thumbnail" height="122" alt="100x100" src="http://responsiweb.com/themes/preview/ace/1.3.3/dist/images/gallery/image-2.jpg">
                                        </a>

                                        <div class="tools tools-top">
                                            <a href="#">
                                                <i class="ace-icon fa fa-times red"></i>
                                            </a>
                                        </div>
                                    </li>
                                    <li>
                                        <a href="http://responsiweb.com/themes/preview/ace/1.3.3/dist/images/gallery/image-2.jpg" data-rel="colorbox" class="cboxElement">
                                            <img width="122" class="img-thumbnail" height="122" alt="100x100" src="http://responsiweb.com/themes/preview/ace/1.3.3/dist/images/gallery/image-2.jpg">
                                        </a>

                                        <div class="tools tools-top">
                                            <a href="#">
                                                <i class="ace-icon fa fa-times red"></i>
                                            </a>
                                        </div>
                                    </li>
                                    <li>
                                        <a href="http://responsiweb.com/themes/preview/ace/1.3.3/dist/images/gallery/image-2.jpg" data-rel="colorbox" class="cboxElement">
                                            <img width="122" class="img-thumbnail" height="122" alt="100x100" src="http://responsiweb.com/themes/preview/ace/1.3.3/dist/images/gallery/image-2.jpg">
                                        </a>

                                        <div class="tools tools-top">
                                            <a href="#">
                                                <i class="ace-icon fa fa-times red"></i>
                                            </a>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <h4 class="header blue bolder smaller">Preço/Custo</h4>

            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="Quantity"> Quantidade </label>
                <div class="col-sm-2">
                    <input type="text" id="Quantity" class="col-xs-12 col-sm-5" required maxlength="4">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="Cost"> Custo Unitário</label>
                <div class="col-sm-4">
                    <input type="text" id="Cost" class="col-xs-12 col-sm-5">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="Price"> Preço Unitário</label>
                <div class="col-sm-4">
                    <input type="text" id="Price" class="col-xs-12 col-sm-5" required>
                </div>
            </div>

            <div class="form-actions center">
                <button class="btn btn-sm" type="reset" id="resetar">
                    <i class="ace-icon fa fa-undo bigger-110"></i>
                    Cancelar
                </button>
                <button type="button" id="salvar" class="btn btn-sm btn-success">
                    Salvar
                    <i class="ace-icon fa fa-arrow-right icon-on-right bigger-110"></i>
                </button>
            </div>
        </form>
    </div>
</div>
<script src="~/Scripts/jquery-1.9.1.min.js"></script>
<script src="~/Scripts/app/product.js"></script>
