<script id="template-listagem" type="application/html-template">
    <tr>
        <td>{{Title}}</td>
        <td>{{Brand}}</td>
        <td>{{Quantity}}</td>
        <td><b class="blue">{{Cost}}</b></td>
        <td><b class="green">{{Price}}</b></td>
        <td width="140px">
            <div class="hidden-sm hidden-xs btn-group">
                <a href="Index/{{Edit}}" class="btn btn-xs btn-warning">
                    <i class="ace-icon fa fa-pencil-square-o bigger-160"></i>
                </a>
            </div>
            <div class="hidden-sm hidden-xs btn-group">
                <a onclick="abrirModalGaleria({{Product}})" class="btn btn-xs btn-info">
                    <i class="ace-icon fa fa-camera bigger-160"></i>
                </a>
            </div>

            <div class="hidden-sm hidden-xs btn-group">
                <a href="/Sale/Index/{{Out}}" class="btn btn-xs btn-success">
                    <i class="ace-icon fa fa-cloud-download bigger-160"></i>
                </a>
            </div>
            <div class="hidden-md hidden-lg">
                <div class="inline pos-rel">
                    <button class="btn btn-minier btn-primary dropdown-toggle" data-toggle="dropdown" data-position="auto">
                        <i class="ace-icon fa fa-cog icon-only bigger-110"></i>
                    </button>

                    <ul class="dropdown-menu dropdown-only-icon dropdown-yellow dropdown-menu-right dropdown-caret dropdown-close">
                        <li>
                            <a href="Index/{{Edit-m}}" class="tooltip-warning" data-rel="tooltip" title="" data-original-title="Editar">
                                <span class="orange">
                                    <i class="ace-icon fa fa-pencil-square-o bigger-120"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a onclick="abrirModalGaleria({{Product-m}})" href="#" class="tooltip-primary" data-rel="tooltip" title="" data-original-title="fotos">
                                <span class="blue">
                                    <i class="ace-icon fa fa-camera bigger-120"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="/Sale/Index/{{Out-m}}" class="tooltip-success" data-rel="tooltip" title="" data-original-title="saida">
                                <span class="green">
                                    <i class="ace-icon fa fa-cloud-download bigger-120"></i>
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </td>
    </tr>
</script>

<div class="row">
    <div class="col-sm-10 col-sm-offset-1">
        <h4 class="pull-right">
            Total em Estoque :
            <span class="red">395</span>
        </h4>
    </div>
</div>

<div class="row">
    <div class="col-sm-10 col-sm-offset-1">
        <table id="simple-table" class="table table-striped table-bordered table-hover table-condensed">
            <thead>
                <tr>
                    <th>Produto</th>
                    <th>Marca</th>
                    <th>Qtd</th>
                    <th>Custo</th>
                    <th>Preço</th>
                    <th></th>
                </tr>
            </thead>
            <tbody id="corpo"></tbody>
        </table>
    </div>
    <div class="col-xs-12 text-center hide" id="load">
        <h3 class="lighter grey">
            <i class="ace-icon fa fa-spinner fa-spin orange bigger-240"></i>
        </h3>
    </div>
</div>
<script src="~/Scripts/jquery-1.9.1.min.js"></script>
<script src="~/Scripts/app/product.js"></script>