<div class="page-content">
    <div class="row">
        <div class="col-xs-12">
            <blockquote>
                <p class="lighter line-height-125">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
                </p>

                <small>
                    Someone famous
                    <cite title="Source Title">Source Title</cite>
                </small>
            </blockquote>
            @*<button type="button" id="btn-request" class="width-35 pull-right btn btn-sm btn-primary">
                <i class="ace-icon fa fa-key"></i>
                <span class="bigger-110">Login</span>
            </button>*@
        </div>
    </div>
</div>
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="~/Scripts/app/login.js"></script>