<div class="row">
    <div class="col-xs-12">
        <form class="form-horizontal" action="#" role="form" id="form-cliente">
            <input type="hidden" id="idCliente" value="@ViewBag.id" />
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="Nome"> Nome </label>
                <div class="col-sm-9">
                    <input type="text" id="Nome" class="col-xs-12 col-sm-5" required maxlength="100">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="Email"> Email </label>
                <div class="col-sm-9">
                    <input type="text" id="Email" class="col-xs-12 col-sm-5" maxlength="100">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="Telefone">Telefone</label>
                <div class="col-sm-9">
                    <input class="col-xs-12 col-sm-1" type="text" id="DDDTelefone" placeholder="DDD" maxlength="3">
                    <input class="col-xs-12 col-sm-4" type="text" id="Telefone" maxlength="10">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="Celular">Celular</label>
                <div class="col-sm-9">
                    <input class="col-xs-12 col-sm-1" type="text" id="DDDCelular" placeholder="DDD" maxlength="3">
                    <input class="col-xs-12 col-sm-4" type="text" id="Celular" maxlength="10">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="CNPJ"> CNPJ </label>
                <div class="col-sm-9">
                    <input type="text" id="CNPJ" class="col-xs-12 col-sm-5" maxlength="14">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="Ie"> I.E </label>
                <div class="col-sm-9">
                    <input type="text" id="Ie" class="col-xs-12 col-sm-5" maxlength="10">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="Observacoes"> Observações </label>
                <div class="col-sm-9">
                    <textarea type="text" id="Observacoes" class="col-xs-12 col-sm-5" maxlength="255"></textarea>
                </div>
            </div>

            <div class="form-actions center">
                <button class="btn btn-sm" type="reset" id="resetar">
                    <i class="ace-icon fa fa-undo bigger-110"></i>
                    Cancelar
                </button>
                <button type="button" id="salvar" class="btn btn-sm btn-success">
                    Salvar
                    <i class="ace-icon fa fa-arrow-right icon-on-right bigger-110"></i>
                </button>
            </div>
        </form>
    </div>
</div>
<script src="~/Scripts/jquery-1.9.1.min.js"></script>
<script src="~/Scripts/app/customer.js"></script>