<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta charset="utf-8">
    <title>@ViewBag.Title</title>

    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,300">
    <link rel="stylesheet" href="~/Content/ace.min.css" class="ace-main-stylesheet" id="main-ace-style">
    <link href="~/Content/ace-skins.min.css" rel="stylesheet" />
    <script src="~/Scripts/ace-extra.min.js"></script>
</head>
<body class="skin-1">

    <div class="bootbox modal fade in" tabindex="-1" role="dialog" aria-hidden="false" style="display: none; padding-right: 17px;">
        <div class="modal-backdrop fade in" style="height: 100%;">

        </div>
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="bootbox-close-button close" data-dismiss="modal" aria-hidden="true" style="margin-top: -10px;">×</button>
                    <div class="bootbox-body"></div>
                </div>
                <div class="modal-footer">
                    <button data-bb-handler="success" type="button" data-dismiss="modal" class="btn btn-sm btn-primary">OK</button>
                </div>
            </div>
        </div>
    </div>

    <div id="navbar" class="navbar navbar-default navbar-collapse h-navbar" style="height:45px;">
        <script type="text/javascript">
            try { ace.settings.check('navbar', 'fixed') } catch (e) { }
        </script>

        <div class="navbar-container" id="navbar-container">
            <div class="navbar-header pull-left">
                <button data-target="#sidebar2" type="button" class="pull-left menu-toggler navbar-toggle">
                    <span class="sr-only">Toggle sidebar</span>

                    <i class="ace-icon fa fa-dashboard white bigger-125"></i>
                </button><a href="#" class="navbar-brand">
                    <small>
                        <i class="fa fa-leaf"></i>
                        G.O Controle de estoque
                    </small>
                </a>

                <button class="pull-right navbar-toggle navbar-toggle-img collapsed" type="button" data-toggle="collapse" data-target=".navbar-buttons,.navbar-menu">
                    <span class="sr-only">Toggle user menu</span>

                    <img src="http://responsiweb.com/themes/preview/ace/1.3.3/dist/avatars/avatar3.png" alt="Photo">
                </button>

                <button class="pull-right navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#sidebar">
                    <span class="sr-only">Toggle sidebar</span>

                    <span class="icon-bar"></span>

                    <span class="icon-bar"></span>

                    <span class="icon-bar"></span>
                </button>
            </div>

            <div class="navbar-buttons navbar-header pull-right  collapse navbar-collapse" role="navigation">
                <ul class="nav ace-nav">
                    <li class="light-blue user-min">
                        <a data-toggle="dropdown" href="#" class="dropdown-toggle">
                            <img class="nav-user-photo" src="http://responsiweb.com/themes/preview/ace/1.3.3/dist/avatars/avatar3.png" alt="Photo">
                            <span class="user-info">
                                <small>Bem vindo ao sistema</small>
                            </span>

                            <i class="ace-icon fa fa-caret-down"></i>
                        </a>

                        <ul class="user-menu dropdown-menu-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">
                            <li>
                                <a href="#">
                                    <i class="ace-icon fa fa-cog"></i>
                                    Configurações
                                </a>
                            </li>

                            <li class="divider"></li>

                            <li>
                                <a href="#">
                                    <i class="ace-icon fa fa-power-off"></i>
                                    Sair
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="main-container" id="main-container">
        <script type="text/javascript">
            try { ace.settings.check('main-container', 'fixed') } catch (e) { }
        </script>

        <div id="sidebar" class="sidebar h-sidebar navbar-collapse collapse" data-sidebar="true" data-sidebar-scroll="true" data-sidebar-hover="true">
            <script type="text/javascript">
                try { ace.settings.check('sidebar', 'fixed') } catch (e) { }
            </script>

            <div class="sidebar-shortcuts" id="sidebar-shortcuts">
                <div class="sidebar-shortcuts-large" id="sidebar-shortcuts-large">
                    <button class="btn btn-success">
                        <i class="ace-icon fa fa-signal"></i>
                    </button>

                    <button class="btn btn-info">
                        <i class="ace-icon fa fa-pencil"></i>
                    </button>

                    <button class="btn btn-warning">
                        <i class="ace-icon fa fa-users"></i>
                    </button>

                    <button class="btn btn-danger">
                        <i class="ace-icon fa fa-cogs"></i>
                    </button>
                </div>

                <div class="sidebar-shortcuts-mini" id="sidebar-shortcuts-mini">
                    <span class="btn btn-success"></span>

                    <span class="btn btn-info"></span>

                    <span class="btn btn-warning"></span>

                    <span class="btn btn-danger"></span>
                </div>
            </div>
            <ul class="nav nav-list" style="top: 0px;">
                <li class="hover">
                    <a href="#" class="dropdown-toggle">
                        <i class="menu-icon fa fa-list"></i>
                        <span class="menu-text"> Entrada </span>
                    </a>
                </li>
                <li class="hover">
                    <a href="#">
                        <i class="menu-icon fa fa-barcode"></i>
                        <span class="menu-text"> Saida </span>
                    </a>
                    <b class="arrow"></b>
                </li>
                <li class="hover">
                    <a href="/Product/Index">
                        <i class="menu-icon fa fa-pencil-square-o"></i>
                        <span class="menu-text"> Produtos </span>
                    </a>
                </li>
                <li class="hover">
                    <a href="/Customer/Index">
                        <i class="menu-icon fa fa-pencil-square-o"></i>
                        <span class="menu-text"> Clientes </span>
                    </a>
                </li>
                <li class="hover">
                    <a href="/Supplier/Index">
                        <i class="menu-icon fa fa-pencil-square-o"></i>
                        <span class="menu-text"> Fornecedores </span>
                    </a>
                </li>
                <li class="hover">
                    <a href="/Category/Index">
                        <i class="menu-icon fa fa-pencil-square-o"></i>
                        <span class="menu-text"> Categorias </span>
                    </a>
                </li>
            </ul>

            <script type="text/javascript">
                try { ace.settings.check('sidebar', 'collapsed') } catch (e) { }
            </script>
        </div>

        <div class="main-content">
            <div class="main-content-inner">
                <div id="sidebar2" class="sidebar responsive" data-sidebar="false" data-sidebar-scroll="true" data-sidebar-hover="true">
                    <ul class="nav nav-list" style="top: 0px;">
                        <li class="">
                            <a href="#">
                                <i class="menu-icon fa fa-tachometer"></i>
                                <span class="menu-text"> Dashboard </span>
                            </a>
                            <b class="arrow"></b>
                        </li>
                        <li class="">
                            <a href="/Product/List">
                                <i class="menu-icon fa fa-list-alt"></i>
                                <span class="menu-text">Produtos</span>
                            </a>
                            <b class="arrow"></b>
                        </li>
                        <li class="">
                            <a href="/Customer/List">
                                <i class="menu-icon fa fa-list-alt"></i>
                                <span class="menu-text">Clientes</span>
                            </a>
                            <b class="arrow"></b>
                        </li>
                        <li class="">
                            <a href="/Supplier/List">
                                <i class="menu-icon fa fa-list-alt"></i>
                                <span class="menu-text">Fornecedores</span>
                            </a>
                            <b class="arrow"></b>
                        </li>
                        <li class="">
                            <a href="/Category/List">
                                <i class="menu-icon fa fa-list-alt"></i>
                                <span class="menu-text">Categorias</span>
                            </a>
                            <b class="arrow"></b>
                        </li>
                        @*<li class="">
                                <a href="#">
                                    <i class="menu-icon fa fa-calendar"></i>

                                    <span class="menu-text">
                                        Calendar
                                        <span title="" class="badge badge-transparent tooltip-error" data-original-title="2 Important Events">
                                            <i class="ace-icon fa fa-exclamation-triangle red bigger-130"></i>
                                        </span>
                                    </span>
                                </a>

                                <b class="arrow"></b>
                            </li>
                            <li class="">
                                <a href="#">
                                    <i class="menu-icon fa fa-picture-o"></i>
                                    <span class="menu-text"> Galeria </span>
                                </a>

                                <b class="arrow"></b>
                            </li>*@
                    </ul>

                    <div class="sidebar-toggle sidebar-collapse">
                        <i class="ace-icon fa fa-angle-double-right" data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right"></i>
                    </div>
                </div>
                <div class="page-content main-content">
                    <div class="page-header">
                        <h1>@ViewBag.Titulo</h1>
                    </div>

                    <div class="row">
                        <div class="col-xs-12">
                            <div>
                                @RenderBody()
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
            <i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
        </a>
    </div>

    <!-- <![endif]-->
    <!--[if IE]>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <![endif]-->
    <!--[if !IE]> -->
    <script type="text/javascript">
        window.jQuery || document.write("<script src='/Scripts/jquery-1.9.1.min.js'>" + "<" + "/script>");
    </script>

    <!-- <![endif]-->
    <!--[if IE]>
    <script type="text/javascript">
     window.jQuery || document.write("<script src='~/Scripts/jquery-1.9.1.min.js'>"+"<"+"/script>");
    </script>
    <![endif]-->
    <script type="text/javascript">
        if ('ontouchstart' in document.documentElement) document.write("<script src='dist/js/jquery.mobile.custom.min.js'>" + "<" + "/script>");
    </script>
    <script src="~/Scripts/bootstrap.min.js"></script>

    <script src="~/Scripts/ace-elements.min.js"></script>
    <script src="~/Scripts/ace.min.js"></script>
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-60551121-1', 'auto');
        ga('send', 'pageview');

    </script>
    @RenderSection("scripts", required: false)
</body>
</html>