<script src="Scripts/jquery-ui.js"></script>
<div class="page-header">
    <h1>Devolucao de produto</h1>
</div>
<div class="row">
    <div class="col-xs-12">
        <form class="form-horizontal" action="#" role="form" id="form-venda">
            <input type="hidden" id="idVenda" value="1" />
            <div class="form-group" show-errors>
                <label for="title" class="col-sm-2 control-label">Cliente</label>
                <div class="col-sm-5">
                    <input type="hidden" id="id-customer" ng-model="sale.customer" />
                    <span class="col-sm-12 no-padding-right no-padding-left input-icon input-icon-right">
                        <input id="customer" ng-required="true" class="form-control" autofocus />
                        <i id="spinner-customer" class="hide ace-icon fa fa-spinner fa-spin green bigger-60"></i>
                    </span>
                    <div class="clearfix"></div>
                    <h5 class="text-warning" id="customer-telefone"></h5>
                    <h6 class="text-success" id="customer-email"></h6>
                </div>
            </div>

            <div class="row" ng-show="totalRegistros>0">
                <div class="col-sm-8 col-sm-offset-2">
                    <table id="simple-table" class="table table-striped table-bordered table-hover table-condensed">
                        <thead>
                            <tr>
                                <th style="width:10px;" class="center">
                                    <label class="pos-rel">
                                        <input type="checkbox" class="ace">
                                        <span class="lbl"></span>
                                    </label>
                                </th>
                                <th class="hidden-xs">Codigo</th>
                                <th>Produto</th>
                                <th>Valor</th>
                                <th>Qtd</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in products | filter:q">
                                <td class="center" style="width:10px;">
                                    <label class="pos-rel">
                                        <input type="checkbox" class="ace">
                                        <span class="lbl"></span>
                                    </label>
                                </td>
                                <td class="hidden-xs"><b>{{item.code}}</b></td>
                                <td>{{item.title}}</td>
                                <td><b class="label label-danger arrowed-in">{{item.price}}</b></td>
                                <td width="50px"><input type="text" class="col-sm-12" name="name" value="{{item.quantity}}" /></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="clearfix"></div>
                <div class="hr hr-16 hr-dotted"></div>
            </div>

            <div class="col-xs-12 text-center" ng-show="loading==true">
                <h3 class="lighter grey">
                    <i class="ace-icon fa fa-spinner fa-spin green bigger-260"></i>
                </h3>
            </div>

            <div class="form-actions center" ng-show="totalRegistros>0">
                <div class="form-group" show-errors>
                    <label for="title" class="col-sm-2 control-label">Data</label>
                    <div class="col-sm-3">
                        <input type="text" ng-required="true" class="form-control" name="dataDevolucao" id="dataDevolucao" ng-model="dataDevolucao" maxlength="10">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="Observacoes"> Obs </label>
                    <div class="col-sm-8">
                        <textarea type="text" ng-model="sale.observacoes" id="Observacoes" rows="6" class="form-control" maxlength="255"></textarea>
                    </div>
                </div>

                <button class="btn btn-sm" type="reset" ng-click="resetar()">
                    <i class="ace-icon fa fa-undo bigger-110"></i>
                    Cancelar
                </button>
                <button type="submit" class="btn btn-sm btn-success">
                    Salvar
                    <i class="ace-icon fa fa-arrow-right icon-on-right bigger-110"></i>
                </button>
            </div>
            <div class="col-sm-offset-1 col-sm-10">
                <div class="alert alert-danger" ng-show="totalRegistros==0">
                    Nao existem produtos locados para este cliente
                </div>
            </div>
        </form>
    </div>
</div>
