<div class="row">
    <div class="col-xs-12">
        <form class="form-horizontal" action="#" role="form" id="form-marca">
            <input type="hidden" id="idMarca" value="@ViewBag.id" />
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="Title"> Nome </label>
                <div class="col-sm-9">
                    <input type="text" id="Title" class="col-xs-12 col-sm-5" required maxlength="100">
                </div>
            </div>
            <div class="form-actions center">
                <button class="btn btn-sm" type="reset" id="resetar">
                    <i class="ace-icon fa fa-undo bigger-110"></i>
                    Cancelar
                </button>
                <button type="button" id="salvar" class="btn btn-sm btn-success">
                    Salvar
                    <i class="ace-icon fa fa-arrow-right icon-on-right bigger-110"></i>
                </button>
            </div>
        </form>
    </div>
</div>
<script src="~/Scripts/jquery-1.9.1.min.js"></script>
<script src="~/Scripts/app/brand.js"></script>