<div class="page-header">
    <h1>Entrada de Produto</h1>
</div>
<div class="widget-box">
    <div class="widget-body">
        <div class="widget-main">
            <div id="fuelux-wizard-container" class="">
                <div>
                    <ul class="steps">
                        <li data-step="1" class="active">
                            <span class="step">1</span>
                            <span class="title">Dados</span>
                        </li>
                        <li data-step="2" class="">
                            <span class="step">2</span>
                            <span class="title">Estoque</span>
                        </li>
                        <li data-step="3" class="">
                            <span class="step">3</span>
                            <span class="title">Upload</span>
                        </li>
                        <li data-step="4" class="">
                            <span class="step">4</span>
                            <span class="title">Fotos</span>
                        </li>
                        <li data-step="5" class="">
                            <span class="step">5</span>
                            <span class="title">Concluir</span>
                        </li>
                    </ul>
                </div>
                <hr>
                <div class="step-content pos-rel">
                    <div class="step-pane active" data-step="1">
                        <form class="form-horizontal" role="form" name="validation-form" id="validation-form" novalidate>
                            <input type="hidden" ng-model="product.id" id="idProduto" />
                            <div class="row">
                                <div class="form-group" show-errors>
                                    <label for="title" class="col-sm-2 control-label">Codigo</label>
                                    <div class="col-sm-5">
                                        <input type="text" ng-required="true" class="form-control" name="Code" id="Code" ng-model="product.code" maxlength="100" autofocus>
                                    </div>
                                </div>
                                <div class="form-group" show-errors>
                                    <label for="title" class="col-sm-2 control-label">Titulo</label>
                                    <div class="col-sm-5">
                                        <input type="text" ng-required="true" class="form-control" name="Title" id="Title" ng-model="product.title" maxlength="100">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label" for="Description"> Descrição </label>
                                    <div class="col-sm-5">
                                        <textarea type="text" class="form-control" name="description" id="description" ng-model="product.description" maxlength="255"></textarea>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label" for="Style"> Estilo </label>
                                    <div class="col-sm-5">
                                        <select ng-model="product.styleId" id="Style" class="form-control" data-ng-options="style.id as style.title for style in styles"></select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label" for="Brand"> Marca </label>
                                    <div class="col-sm-5">
                                        <select ng-model="product.brandId" class="form-control" data-ng-options="brand.id as brand.title for brand in brandies"></select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label" for="Category"> Categoria </label>
                                    <div class="col-sm-5">
                                        <select ng-model="product.categoryId" name="categoria" id="categoria" class="form-control" data-ng-options="category.id as category.title for category in categories"></select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label" for="Supplier"> Fornecedor </label>
                                    <div class="col-sm-5">
                                        <select ng-model="product.supplierId" class="form-control" data-ng-options="supplier.id as supplier.nome for supplier in suppliers"></select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label" for="Size"> Tamanho </label>
                                    <div class="col-sm-5">
                                        <input type="text" id="Size" name="Size" ng-model="product.size" class="form-control" maxlength="100">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label" for="Measure"> Medida </label>
                                    <div class="col-sm-5">
                                        <input type="text" id="Measure" name="Measure" ng-model="product.measure" class="form-control" maxlength="100">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label" for="Color"> Cor </label>
                                    <div class="col-sm-5">
                                        <input type="text" id="Color" name="Color" ng-model="product.color" class="form-control" maxlength="100">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label" for="Model"> Modelo </label>
                                    <div class="col-sm-5">
                                        <input type="text" id="Model" name="Model" ng-model="product.model" class="form-control" maxlength="100">
                                    </div>
                                </div>

                            </div>
                        </form>
                    </div>

                    <div class="step-pane" data-step="2">
                        <div class="alert alert-success">
                            <button type="button" class="close" data-dismiss="alert">
                                <i class="ace-icon fa fa-times"></i>
                            </button>
                            <strong> <i class="ace-icon fa fa-times"></i> Atenção!</strong>
                            Opa, vamos colocar um preco no produto?
                            <br>
                        </div>
                        <br />
                        <div class="col-sm-10 col-sm-offset-1">
                            <div id="edit-preco" class="tab-pane">
                                <h4 class="header blue bolder smaller">Preço/Custo</h4>

                                <div class="form-group">
                                    <label class="col-sm-2 control-label" for="Quantity"> Quantidade </label>
                                    <div class="col-sm-2">
                                        <input type="number" id="Quantity" name="Quantity" ng-model="product.quantity" class="form-control input-lg" required maxlength="4">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label" for="Cost"> Custo Unitário</label>
                                    <div class="col-sm-2">
                                        <input type="text" id="Cost" class="form-control input-lg" name="Cost" ng-model="product.cost" required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label" for="Price"> Preço Unitário</label>
                                    <div class="col-sm-2">
                                        <input type="text" id="Price" class="form-control input-lg" required name="Price" ng-model="product.price">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="step-pane" data-step="3">
                        <div class="row">
                            <div class="col-sm-10 col-sm-offset-1">
                                <div ng-include src="urlDropZone"></div>
                            </div>
                        </div>
                    </div>

                    <div class="step-pane" data-step="4">
                        <div class="row">
                            <div class="col-sm-8 col-sm-offset-2">
                                <ul class="ace-thumbnails clearfix">
                                    <li ng-repeat="photo in pega">
                                      <img width="200" height="300" alt="200x300" ng-src="data:image/JPEG;base64,{{photo.image}}">
                                        <div class="tools tools-top">
                                            <a style="cursor:pointer;" class="red pull-right" ng-click="excluirFoto(photo)">
                                                <i class="ace-icon fa fa-times"></i>
                                            </a>
                                            <!--<a style="cursor:pointer;" class="blue pull-left" ng-click="openWindow(photo);">
                                                <i class="ace-icon fa fa-eye"></i>
                                            </a>-->
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="step-pane" data-step="5">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="panel panel-success panel-colorful text-center">
                                    <div class="panel-body">
                                        <h2 class="mar-no text-thin">{{product.quantity}}</h2>
                                    </div>
                                    <div class="bg-light pad-ver">
                                        <h5 class="mar-no text-thin"><i class="fa fa-eye"></i> Quantidade</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="panel panel-success panel-colorful text-center">
                                    <div class="panel-body">
                                        <h2 class="mar-no text-thin">R$ {{product.price}}</h2>
                                    </div>
                                    <div class="bg-light pad-ver">
                                        <h5 class="mar-no text-thin"><i class="fa fa-barcode"></i> Preço Unitário</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="panel panel-success panel-colorful text-center">
                                    <div class="panel-body">
                                        <h2 class="mar-no text-thin">R$ {{product.cost}}</h2>
                                    </div>
                                    <div class="bg-light pad-ver">
                                        <h5 class="mar-no text-thin"><i class="fa fa-asterisk"></i> Custo Unitário</h5>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-4">
                                <div class="panel panel-success panel-colorful text-center">
                                    <div class="panel-body">
                                        <div class="text-center">
                                            <ul class="list-unstyled">
                                                <li class="text-primary"><h5>Código: {{product.code}}</h5> </li>
                                                <li class="text-success"><h4>Título: {{product.title}}</h4></li>
                                                <li class="text-danger"><h6>Descrição: {{product.description}}</h6></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-8">
                                <div class="panel panel-success panel-colorful text-center">
                                    <div class="panel-body">
                                        <div class="text-center">
                                            <ul class="list-unstyled">
                                                <li><h5>Estilo: <span id="nome-estilo"></span></h5> </li>
                                                <li class="text-warning"><h4>Categoria: <span id="nome-categoria"></span></h4></li>
                                                <li class="text-danger"><h6>Tamanho: {{product.size}}</h6></li>
                                                <li class="text-success"><h5>Medida: {{product.measure}}</h5></li>
                                                <li class="text-warning"><h4>Cor: {{product.color}}</h4></li>
                                                <li class="text-primary"><h6>Modelo: {{product.model}}</h6></li>
                                                <li class="text-muted"><h5>Marca: <span id="nome-marca"></span></h5></li>
                                                <li class="text-info"><h4>Fornecedor: <span id="nome-fornecedor"></span></h4></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="wizard-actions">
                <button class="btn btn-prev" disabled="disabled">
                    <i class="ace-icon fa fa-arrow-left"></i>
                    Anterior
                </button>

                <button class="btn btn-success btn-next" data-last="Concluir">
                    Proximo
                    <i class="ace-icon fa fa-arrow-right icon-on-right"></i>
                </button>
            </div>
        </div>
    </div>
</div>