<div ng-include src="urlModal"></div>
<div class="page-header">
    <h1>Produtos em Estoque</h1>
</div>
<div class="row">
    <div class="col-sm-10 col-sm-offset-1">
        <h4 class="pull-right">
            Total: <span class="red">{{totalRegistros}}</span>
        </h4>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <div class="nav-search" id="nav-search">
                    <form class="form-search pull-right">
                        <span class="input-icon">
                            <input type="text" placeholder="Pesquisar ..." ng-model="q" class="nav-search-input" id="nav-search-input" autocomplete="off">
                            <i class="ace-icon fa fa-search nav-search-icon"></i>
                        </span>
                    </form>
                </div>
                <table id="simple-table" class="table table-striped table-bordered table-hover table-condensed" ng-init="pesquisar()">
                    <thead>
                        <tr>
                            <th class="hidden-xs">Codigo</th>
                            <th>Produto</th>
                            <th class="hidden-xs">Cor</th>
                            <th class="hidden-xs">Marca</th>
                            <th>Qtd</th>
                            <th class="hidden-xs">Custo</th>
                            <th>Preço</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in products | filter:q">
                            <td class="hidden-xs"><b>{{item.code}}</b></td>
                            <td>{{item.title}}</td>
                            <td class="hidden-xs">{{item.color}}</td>
                            <td class="hidden-xs">{{item.brand.title}}</td>
                            <td>
                                <div ng-hide="item.quantity == 0" ng-class="{'badge badge-danger': item.quantity == 1,'badge badge-default': item.quantity > 1 && item.quantity < 3,'badge badge-success': item.quantity >= 3}">
                                    {{item.quantity}}
                                </div>
                                <div ng-show="item.quantity == 0">
                                    <span class="label label-warning">
                                        <i class="ace-icon fa fa-exclamation-triangle bigger-120"></i>
                                        zerado
                                    </span>
                                </div>
                            </td>
                            <td class="hidden-xs">
                                <small>
                                    <span class="red">R$ {{item.cost}}</span>
                                </small>
                            </td>
                            <td><b class="label label-info arrowed-right arrowed-in">{{item.price}}</b></td>
                            <td width="105px">
                                <div class="hidden-sm hidden-xs btn-group">
                                    <!--<a ng-click="abrirModalGaleria()" class="btn btn-xs btn-success">
                                        <i class="ace-icon fa fa-photo bigger-120"></i>
                                    </a>-->
                                    <a ng-href="#/product/{{item.id}}" ng-click="editar(item)" class="btn btn-xs btn-success">
                                        <i class="ace-icon fa fa-pencil bigger-120"></i>
                                    </a>
                                    <button ng-click="excluir(item, $index)" class="btn btn-xs btn-danger">
                                        <i class="ace-icon fa fa-trash-o bigger-120"></i>
                                    </button>
                                </div>
                                <div class="hidden-md hidden-lg">
                                    <div class="inline pos-rel">
                                        <button class="btn btn-minier btn-default dropdown-toggle" data-toggle="dropdown" data-position="auto">
                                            <i class="ace-icon fa fa-cog icon-only bigger-110"></i>
                                        </button>

                                        <ul class="dropdown-menu dropdown-only-icon dropdown-yellow dropdown-menu-right dropdown-caret dropdown-close">
                                            <li>
                                                <a ng-href="#/product/{{item.id}}" ng-click="editar(item)" class="tooltip-success" data-rel="tooltip" title="" data-original-title="Edit">
                                                    <span class="green">
                                                        <i class="ace-icon fa fa-pencil-square-o bigger-120"></i>
                                                    </span>
                                                </a>
                                            </li>
                                            <li>
                                                <a ng-click="excluir(item)" class="tooltip-error" data-rel="tooltip" title="" data-original-title="Delete">
                                                    <span class="red">
                                                        <i class="ace-icon fa fa-trash-o bigger-120"></i>
                                                    </span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="col-xs-12 text-center" ng-show="loading==true">
    <h3 class="lighter grey">
        <i class="ace-icon fa fa-spinner fa-spin orange bigger-260"></i>
    </h3>
</div>