<div class="bootbox modal fade in" id="mensagem" tabindex="-1" role="dialog" aria-hidden="false" style="display: none; padding-right: 17px;color:#fff;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body label-danger">
                <button type="button" class="bootbox-close-button close" data-dismiss="modal" aria-hidden="true" style="margin-top: -10px;">×</button>
                <div class="bootbox-body">{{CorpoMensagem}}</div>
            </div>
            <div class="modal-footer">
                <button data-bb-handler="success" ng-click="clickExcluir()" type="button" class="btn btn-sm btn-danger">{{BtnOk}}</button>
                <button data-bb-handler="success" type="button" data-dismiss="modal" class="btn btn-sm btn-primary">{{BtnCancelar}}</button>
            </div>
        </div>
    </div>
</div>