<ul class="nav nav-list" style="top: 0px;">
    <li ng-class="{active:isActive('/dashBoard/list')}">
        <a href="#/dashBoard/list">
            <i class="menu-icon fa fa-tachometer"></i>
            <span class="menu-text"> Dashboard </span>
        </a>
        <b class="arrow"></b>
    </li>
    <li ng-class="{active:isActive('/product/list')}">
        <a href="#/product/list">
            <i class="menu-icon fa fa-exchange"></i>
            <span class="menu-text">Estoque</span>
        </a>
        <b class="arrow"></b>
    </li>
    <li ng-class="{active:isActive('/customer/list')}">
        <a href="#/customer/list">
            <i class="menu-icon fa fa-list-alt"></i>
            <span class="menu-text">Clientes</span>
        </a>
        <b class="arrow"></b>
    </li>
    <li ng-class="{active:isActive('/suppliers')}">
        <a href="#/suppliers">
            <i class="menu-icon fa fa-list-alt"></i>
            <span class="menu-text">Fornecedores</span>
        </a>
        <b class="arrow"></b>
    </li>
    <li ng-class="{active:isActive('/brandies')}">
        <a href="#/brandies">
            <i class="menu-icon fa fa-list-alt"></i>
            <span class="menu-text"> Marcas </span>
        </a>
        <b class="arrow"></b>
    </li>
    <li ng-class="{active:isActive('/categories')}">
        <a href="#/categories">
            <i class="menu-icon fa fa-list-alt"></i>
            <span class="menu-text"> Categorias </span>
        </a>
        <b class="arrow"></b>
    </li>
</ul>
<div class="sidebar-toggle sidebar-collapse">
    <i class="ace-icon fa fa-angle-double-right" data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right"></i>
</div>